<%- include("partials/_header") %>
  <!-- body -->

  <body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->

    <!-- header -->
    <%- include("partials/_menu") %>
      <!-- end header inner -->


      <!--  customers -->
      <div class="customers">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage text_align_center">
                <h2>Merhaba Ben <%= user.username %>
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="satteb text_align_center">
                <p>Doğa fotoğrafçıları, doğal ortamda çektikleri görüntüleri almak için özel bir dikkat gerektirir. Aşağıdaki noktalar, doğa fotoğrafçıları için önemlidir:</p>

                 <p> Doğal ışık: Doğa fotoğrafçıları, doğal ışığı kullanarak görüntüleri çekmeye özen göstermelidir. Özellikle sabah ve akşam saatlerinde çekilen görüntüler, güzel renkler ve gölgeler sunar.</p>
                  
                 <p> Perspektif: Doğa fotoğrafçıları, doğal ortamda çektikleri görüntülerde perspektifin önemini anlamalıdır. Örneğin, yerden çekilen görüntüler, bölgenin bütününü gösterirken, uçaktan çekilen görüntüler, bölgenin genişliğini gösterir.</p>
                  
                 <p> Çekim pozisyonu: Doğa fotoğrafçıları, çekim yaptıkları bölgenin doğal ortamını dikkate almalıdır. Örneğin, bir nehir kenarındaki su göstergesini çekmek için, su seviyesinde çekim yapmalıdır.</p>
                  
                 <p>Doğal ortamı koruma: Doğa fotoğrafçıları, doğal ortamı koruma konusunda dikkatli olmalıdır. Çekim yaptıkları bölgenin doğal ortamını kirletmemek için özen göstermelidir.</p>
                  
                 <p>Çekim teknikleri: Doğa fotoğrafçıları, doğal ortamda çekim yaptıklarında, çekim teknikleri konusunda uzman olmalıdır. Örneğin, hareketli nesneleri çekmek için hızlı çekim hızları gereklidir.</p>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- end customers  -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text_align_center">

              <% if (!inFollowers) { %>
                <a style="margin:20px auto;" class="read_more"
                  href="/users/<%= user._id %>/follow?_method=PUT">TAKİP ET</a>
                <% } else { %>
                  <a style="margin:20px auto;" class="read_more"
                    href="/users/<%= user._id %>/unfollow?_method=PUT">TAKİPTEN ÇIK</a>
                  <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="gallery">
        <div class="container_with">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage text_align_center">
                <h2>Benim Fotoğraflarım</h2>
              </div>
            </div>
          </div>
          <div class="tz-gallery">
            <div class="row">

              <% for (photo of photos) { %>
                <div class="col-lg-4 col-md-6 ma_bottom30">
                  <div class="lightbox">
                    <img src="<%= photo.url %>" alt="<%= photo.name %>">
                    <div class="view_main">
                      <div class="pose">
                        <a class="read_more" href="/photos/<%= photo._id %>"><img src="/images/ga.png" alt="#" /></a>
                        <h3 style="padding-top:10px; padding-bottom:10px">
                          <%= photo.name %>
                        </h3>
                        <p style="padding-top:10px;">
                          <%= photo.description.substring(0, 80)+ "..." %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <% } %>

            </div>
          </div>
        </div>
      </div>


      <!-- end footer -->
      <%- include("partials/_footer") %>